@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-50: #F9FAFB;
  --color-100:#F3F4F6;
  --color-200:#E5E7EB;

  --color-300:#D1D5DB;
  --color-400:#9CA3AF;

  --color-500:#6B7280;

  --color-600:#4b5563;
  --color-700:#374151;

  --color-800:#27272a;
  --color-900:#111827;
  --color-950:#030712;

  /* semantic color variables for this project */
  --color-error: #f87171;
  --color-background: var(--color-50);
  --color-background-soft: var(--color-200);
  --color-background-mute: var(--color-400);

  --color-text: var(--color-700);
  --color-text-muted: var(--color-500);

  --color-border: var(--color-700);

  --button-background: var(--color-background-mute);
  --button-background-hover: var(--color-background);
  --button-text:var( --color-text);
  --button-text-muted:var( --color-text-muted);

  --button-light-background: var(--color-background);
  --button-light-border: var(--color-border);

  color: var(--color-text);

  font-size: 20px;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-950);
    --color-background-soft: var(--color-900);
    --color-background-mute: var(--color-600);

    --color-text: var(--color-300);

    --color-border: var(--color-700);

    --button-background: var(--color-background-mute);
    --button-background-hover: var(--color-background-soft);
    --button-text:var( --color-text);

    --button-text-muted:var( --color-text-muted);
  }
}
