input,
button {
    width: max-content;
    padding: 15px;
    color: var(--button-text);
    border: 2px solid transparent;
    outline: none;
}

input:not([type="submit"]),
input:not([type="button"]) {
    background: var(--color-background);
}

input:invalid:not([type="submit"]),
input:invalid:not([type="button"]) {
    border: 2px solid var(--color-error);
    animation: bounce 0.5s 1 linear forwards;
}

input[type="submit"],
input[type="button"],
button[type="button"] {
    background: var(--button-background);
    font-size: 20px;
    color: var(--button-text);
    padding: 10px 15px;
    transition: background 0.3s ease;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background: var(--button-background-hover);
    transition: background 0.3s ease;
}

input[type="submit"]:disabled,
input[type="button"]:disabled {
    background: var(--button-background-hover);
    color: var(--button-text-muted);
    transition: background 0.3s ease;
}

input[type="submit"]:hover:disabled,
input[type="button"]:hover:disabled {
    background: var(--button-background-hover);
    color: var(--button-text-muted);
    transition: background 0.3s ease;
}

input[type="submit"].loading,
input[type="button"].loading,
button[type="button"].loading {
    background: var(--button-light-background);
    color: var(--button-text-muted);
    border: 0.5px solid var(--button-light-border);
    border-radius: 2px;
    transition: background 0.3s ease;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}